{% extends 'main/layout1.html' %}
{% load static %}
{% block title %}Просмотренные сериалы{% endblock %}


{% block content %}
<section class="all-posts">
    <div class="container">
      <h1 class="my-4 text-center">Пережитые истории</h1>
      <div class="row">
          {% if boo %}
              {% for i in boo %}
                  <div class="col-md-6">
                      <div class="card mb-4 shadow-sm">
                          <img height="375" src="{{ i.poster.url }}" alt="" class="card-img-top">
                          <div class="card-body">
                              <h4 class="card-title">{{ i.title }}</h4>
                              <p class="card-text">Жанр: {{ i.genre }}</p>
                              <p class="card-text">Дата выхода: {{ i.release_date }}</p>
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                      <a href="{% url 'books-detail' i.url %}" class="btn btn-sm btn-outline-secondary">Подробнее про книгу</a>
                                  </div>
                                  <small class="text-muted">xD</small>
                              </div>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          {% else %}
            <p>Ничего нет(</p>
          {% endif %}
      </div>
    </div>
</section>
{% endblock %}